/* */

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: arial;
    background-color: #7B3542;
}

input[type="checkbox"] {
    display: none;
}

nav {
    background-color: rgba(8, 8, 8, 0.9);
    width: 100vw;
    height: 100px;
    top: -150px;
    left: 0px;
    position: absolute;
    transition: all .5s;
    z-index: 2;
    overflow: hidden;
}

input[type="checkbox"]:checked~nav {
    transform: translateY(150px);
}

ul {
    list-style: none;
    top: 0px;
    position: absolute;
    width: 100vw;
    left: 100px;
    display: flex;
    flex-direction: column;
}

.btntypo {
    text-decoration: none!important;
    font-family: TYPOGRAPH;
    font-weight: 100;
    display: inline-block;
    color: white!important;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding: 39px 95px;
}

.btntypo:before {
    text-decoration: none;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #5f1a21;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btntypo:hover:before {
    text-decoration: none;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.label {
    padding: 15px;
    position: absolute;
    z-index: 3;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.label:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

table {
    float: center;
    border-collapse: collapse;
    vertical-align: middle
}

#panel {
    background-color: rgba(190, 190, 190, 0.454);
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    align-self: center;
    padding: 20px 0px;
    margin: 20px;
    border-radius: 20px;
}

#panel tr {
    align-self: center;
    justify-self: center;
    vertical-align: middle;
}

#panel tr:hover {
    background-color: rgba(221, 221, 221, 0.22);
    transition: 0.3s;
}

#panel td {
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
    padding: 10px 45px;
    background-color: rgba(51, 51, 51, 0.358);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    cursor: default;
}

#panel input {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 2px solid lightgrey;
    cursor: auto;
}

.menu {
    display: flex;
    flex-direction: row;
}

section {
    position: relative;
    min-width: 100vh;
}

#geral {
    padding: 50px;
    background-color: rgb(239, 239, 239, 0.5);
}

.topo {
    position: relative;
    width: 100vw;
    height: 100px;
    left: 0px;
    top: 0px;
    font-size: 60pt;
    background-color: #380912;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
}

.topo img {
    object-fit: contain;
    max-width: 150px;
    padding: 20px;
}

.cadastro {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: auto;
    color: rgb(0, 0, 0);
    font-size: 16pt;
}

.conteudo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: auto;
    color: rgb(0, 0, 0);
    font-size: 16pt;
}

.conteudo .row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-items: center;
    height: auto;
}

.conteudo .column {
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    max-width: 2000px;
    justify-content: center;
    align-SELF: center;
    border-radius: 10px;
}

.conteudo .contentBx {
    position: relative;
    justify-content: center;
    justify-items: center;
    align-self: center;
    padding: 20px;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
}

.conteudo .contentBx h2 {
    font-size: 1.5em;
    color: #333;
    font-weight: 700;
    vertical-align: top;
}

.conteudo .contentBx .title {
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
    color: #333;
    font-weight: 700;
    vertical-align: top;
}

.conteudo .contentBx a {
    font-size: 0.8em;
    color: #333;
}

.conteudo .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    top: 0;
    left: 0;
    height: 100%;
}

.conteudo .imgBx video {
    max-width: 800px;
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
}

.conteudo .contentBx .btnspace {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}


/* CHANGE ALT & DEL */

.change {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: auto;
    color: rgb(0, 0, 0);
    font-size: 16pt;
}

.change table {
    font-family: "Helvetica Neue", Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.change th,
td {
    background-color: #ececec;
    border: 1px solid rgb(209, 209, 209);
    padding: 8px;
    text-align: left;
}

.change th {
    background-color: #f2f2f2;
    color: #333;
}

.change tr:nth-child(even) {
    background-color: #f2f2f2;
}

.change button {
    border: none;
    cursor: pointer;
}

.change button img {
    height: 50px;
    width: 50px;
    padding: 5px;
}

.change .search {
    border: none;
    cursor: text;
    margin: 5px 0;
    border-radius: 4px;
    padding: 8px;
}


/* MENU GRID AND BLOCK */

.toggle-buttondiv {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    padding: 5px;
    height: 100%;
}

#toggle-button {
    display: flex;
    flex-direction: row;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
}

#toggle-button span {
    height: 100%;
    object-fit: fill;
    padding: 0 4px;
}

#toggle-button.active {
    padding: 5px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    min-width: calc(100% - 150px);
    flex-direction: column;
    min-width: initial;
    align-content: center;
    padding-top: 30px;
    transition: 1.0s;
}

.menu-item {
    width: 600px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px;
}

.menu-item img {
    margin: 0 20px 0 0;
    border-radius: 10%;
}

.flex-right {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1350px) {
    .menu-grid {
        grid-template-columns: 1fr;
        min-width: initial;
    }
    #toggle-button {
        display: none;
    }
}


/* ALTER DATA */

.alter {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: auto;
    color: rgb(0, 0, 0);
    font-size: 16pt;
    justify-content: center;
    align-items: center;
}

.alter table {
    font-family: "Helvetica Neue", Arial, sans-serif;
    border-collapse: collapse;
    max-width: calc(100% - 1000px);
}

.alter th,
td {
    background-color: #ececec;
    border: 1px solid rgb(209, 209, 209);
    padding: 8px;
    text-align: left;
}

.alter th {
    background-color: #f2f2f2;
    color: #333;
}

.alter tr:nth-child(even) {
    background-color: #f2f2f2;
}

.alter input {
    padding: 10px;
    max-height: 80%;
    min-height: 20%;
}

.alter button {
    border: none;
    cursor: pointer;
}


/* Sabrina teste.css*/

.container {
    margin: auto;
    width: 1340px;
    margin-top: 20px;
    padding: 10px;
}

.btn1 {
    width: 150px;
    height: 50px;
    border: 1px solid rgb(106, 106, 106);
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    transition: 0.5s;
    font-size: 1em;
    font-weight: 700;
}

.btn1:hover {
    color: white!important;
    border: 1px solid #ddd;
    background-color: rgb(2, 75, 2);
    font-size: 1em;
    font-weight: 700;
    transition: 0.5s;
}

.btn2 {
    width: 150px!important;
    height: 50px;
    border: 1px solid rgb(106, 106, 106);
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    transition: 0.5s;
    font-size: 0.8em;
    font-weight: 500;
    align-self: center;
    display: block;
    margin: 20px auto;
}

.btn2:hover {
    color: white!important;
    border: 1px solid rgb(62, 62, 62);
    background-color: rgb(0, 0, 0);
    font-weight: 600;
    transition: 0.5s;
}

.campo {
    width: 300px;
    height: 30px;
    border: 1px solid #ddd;
    margin-top: 5px;
    margin-bottom: 10px;
}

@font-face {
    font-family: 'TYPOGRAPH';
    src: url(Fonte/TYPOGRAPH_PRO_Semi_Bold.ttf);
    font-style: normal;
    font-weight: 100;
}