@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #000 url(images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
}

.toggle.active {
    background: #000 url(images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

section {
    padding: 100px;
    min-width: 100hv;
}


/*_______________________________ BANNER ____________________________*/

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imgSidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}

.banner .imgSidebar img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner .contentBx,
.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.logoText {
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 5px;
}

.nav-menu>a {
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px;
}

.nav-menu>a:hover {
    background-color: #000;
}

.language {
    position: absolute;
    top: 40px;
    width: 120px;
    margin-left: 40px;
    font-weight: bold;
}

.language-selected {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.language-selected:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(https://api.iconify.design/emojione/flag-for-brazil.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.language ul {
    position: absolute;
    width: 140px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    padding-top: 10px;
    box-sizing: 0px 1px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.language ul li {
    display: block;
    color: #111;
    padding-top: 5px 10px;
}

.language ul li:hover {
    background-color: #f8f8f8;
}

.language ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}

.language ul {
    position: absolute;
    width: 140px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    padding-top: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.language ul li {
    list-style: none;
}

.language ul li a {
    display: block;
    color: #252525;
    padding-top: 5px 10px;
}

a.br:before {
    background-image: url(https://api.iconify.design/emojione/flag-for-brazil.svg);
}

a.en:before {
    background-image: url(https://api.iconify.design/emojione/flag-for-united-states.svg);
}

a.es:before {
    background-image: url(https://api.iconify.design/emojione/flag-for-spain.svg);
}

.language:hover ul {
    display: block;
}


/*_______________________________ FINAL LANGUAGE ____________________________*/

.banner .contentBx h4 {
    font-size: 1.5em;
    color: #333;
    font-weight: 300;
}

.banner .contentBx h4 span {
    color: #450094;
    font-size: 1.5em;
    font-weight: 700;
}

.banner .contentBx h2 {
    font-size: 3em;
    color: #333;
    line-height: 1em;
}

p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}

.btn {
    background: #450094;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}


/*_______________________________ SIDEBAR ____________________________*/

.sidebar {
    position: fixed;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
}

.sidebar.active {
    right: 0;
}

.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sidebar ul li a:hover {
    color: #450094;
}


/*_______________________________ SCI ____________________________*/

.sci {
    position: absolute;
    left: 100px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    margin-right: 10px;
    list-style: none;
}

.sci li img {
    transform: scale(0.5);
    opacity: 0.7;
}

.sci li img:hover {
    opacity: 1;
}


/*_______________________________ TITLE ____________________________*/

.title {
    width: 100%;
    text-align: center;
}

.title h2 {
    position: relative;
    color: #450094;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}

.title p {
    max-width: 700px;
    display: inline-block;
}

.title h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: #000;
}

.title.white h2,
.title.white p {
    color: #fff;
}

.title.white h2::before {
    background: #fff;
}


/*_______________________________ SOBRE ____________________________*/

.about {
    background: #000;
}

.about .content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about .content .textBx {
    min-width: 49%;
    width: 49%;
}

.about .content .textBx p {
    color: #fff;
}

.about .content .imgBx {
    margin-left: 40px;
}

.about .content .imgBx img {
    max-width: 100%;
}


/*_______________________________ SERVICES ____________________________*/

.service .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.service .content .serviceBx {
    padding: 40px 20px;
    max-width: 340px;
    margin: 20px;
    transition: 0.5s;
    background: #f5f5f5;
}

.service .content .serviceBx:hover {
    background: #000;
}

.service .content .serviceBx img {
    max-width: 80px;
    transition: 0.5s;
}

.service .content .serviceBx:hover img {
    filter: invert(1);
}

.service .content .serviceBx h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 600;
    transition: 0.5s;
}

.service .content .serviceBx:hover h2 {
    color: #fff;
}

.service .content .serviceBx p {
    margin: 0;
    transition: 0.5s;
}

.service .content .serviceBx:hover p {
    color: #fff;
}

.service .content .serviceBx p b {
    color: rgb(219, 0, 0);
}


/*_______________________________ PACOTES ____________________________*/

.package {
    background: #000;
}

.package .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.package .content .packageBx {
    padding: 40px 20px;
    max-width: 340px;
    margin: 20px;
    transition: 0.5s;
    background: rgb(44, 44, 44);
}

.package .content .packageBx:hover {
    background: rgb(255, 255, 255);
}

.package .content .packageBx img {
    max-width: 80px;
    transition: 0.5s;
    filter: invert(1);
    margin-left: 35%;
}

.package .content .packageBx:hover img {
    filter: invert(0);
}

.package .content .packageBx h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 600;
    transition: 0.5s;
    color: #fff;
}

.package .content .packageBx:hover h2 {
    color: #000;
}

.package .content .packageBx p {
    margin: 0;
    transition: 0.5s;
    color: #fff;
}

.package .content .packageBx:hover p {
    color: #000;
}

.package .content .packageBx a {
    text-align: center;
    align-content: center;
    align-items: center;
    opacity: 0;
    transition: 1s;
    margin-left: 33%;
    font-weight: 600;
    font-size: 18pt;
}

.package .content .packageBx:hover a {
    opacity: 1;
    transition-delay: 1s;
}

.package .content .h5 {
    font-size: 500;
    color: #f5f5f5;
    opacity: 0.6;
    display: inline-block;
    align-self: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: column;
    flex-grow: 1;
    flex-basis: 6000px;
    text-align: center;
}


/*_______________________________ WORK ____________________________*/

.reverse {
    flex-direction: row;
}

.work .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.work .content .workBx {
    position: relative;
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e2e2e2;
    margin-bottom: 40px;
    margin: 20px 20px;
}

.work .content .workBx .imgBx img {
    display: flex;
    position: relative;
    top: 0;
    height: 100%;
    object-fit: cover;
}

.work .content .workBx .imgBx video {
    position: relative;
    top: 0;
    height: 100%;
    object-fit: cover;
}

#video-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 0;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#video-container video:nth-of-type(2) {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work .content .workBx .textBx {
    position: relative;
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.work .content .workBx .textBx p,
.work .content .workBx .textBx .sub,
.work .content .workBx .textBx .sub2 {
    position: relative;
    display: flex;
    margin: 0px 60px;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: space-around;
    color: #333;
    font-size: 1.6em;
    font-weight: 700;
    letter-spacing: 1px;
}

.work .content .workBx .textBx .sub {
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 20px;
    color: rgb(83, 83, 83);
    margin: 20px 40px;
}

.work .content .workBx .textBx .sub2 {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0px 60px;
    color: rgb(146, 146, 146);
}

#em08 {
    font-size: 0.8em;
}

.work .content .workBx .textBx .program,
.work .content .workBx .textBx .box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.work .content .workBx .textBx .program img {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    width: 20px;
    margin: 10px 10px 10px 60px;
}

.work .content .workBx .textBx .box {
    position: relative;
    width: 200px;
    height: 50px;
    margin: 10px 10px 10px 60px;
}

.offset {
    box-shadow: 0.3em 0.3em 0 0 #111, inset 0.3em 0.3em 0 0 #111;
}

.offset:hover,
.offset:focus {
    box-shadow: 0 0 0 0 #111, inset 7.5em 6em 0 0 #111;
}

.work .content .workBx .textBx .box button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 4em 1em 1em 1em;
    transition: 0.25s;
    color: #000!important;
    text-decoration: none;
}

.work .content .workBx .textBx .box button:hover,
.work .content .workBx .textBx .box button:focus {
    border-color: #111;
    color: #fff!important;
    text-decoration: none;
}

.work .content .workBx .textBx .box a,
.work .content .workBx .textBx .box a:link,
.work .content .workBx .textBx .box a:visited,
.work .content .workBx .textBx .box a:focus,
.work .content .workBx .textBx .box a:active {
    color: #000!important;
    text-decoration: none;
    padding: 1em 3em;
    display: flex;
    flex-direction: ROW;
}

.work .content .workBx .textBx .box a:hover {
    color: #fff!important;
}


/*_______________________________ CONTATO ____________________________*/

.contact {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .contactForm {
    position: relative;
    width: 700px;
    margin-top: 20px;
}

.contact .contactForm .row {
    width: 100%;
    display: flex;
}

.contact .contactForm .row .col50 {
    width: 50%;
    margin: 10px;
}

.contact .contactForm .row .col100 {
    width: 100%;
    margin: 10px;
    text-align: center;
}

.contact .contactForm .row input,
.contact .contactForm .row textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 16px;
    resize: none;
}

.contact .contactForm .row textarea {
    height: 100px;
}

.contact .contactForm .row input[type="submit"] {
    background: #450094;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    max-width: 150px;
}


/*_______________________________ BACK TO TOP ____________________________*/

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 9999;
    text-align: center;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    opacity: 1;
}

#back-to-top i {
    width: 40px;
    height: 40px;
    line-height: 32px;
    color: #fff;
    font-size: 20px;
    background: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 5px;
}

#back-to-top i:hover {
    background: #000000;
}

#back-to-top.show {
    opacity: 1;
    display: block!important;
}

#back-to-top img {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


/*_______________________________ AJUSTE DEPOIS DO ZOOM ____________________________*/

@media (max-width: 991px) {
    .banner .imgSidebar {
        display: none;
    }
    .banner .contentBx,
    .sidebar {
        width: 100%;
        padding: 40px;
    }
    .logoText {
        left: 40px;
    }
    .toggle {
        right: 40px
    }
    .sci {
        left: 40px;
    }
    section {
        padding: 40px;
    }
    .about .content {
        flex-direction: column;
    }
    .about .content .textBx {
        min-width: 100%;
        width: 100%;
    }
    .about .content {
        margin-top: 0;
    }
    .about .content .imgBx {
        margin-left: 0;
    }
    .service .content .serviceBx {
        padding: 30px 20px;
        max-width: 340px;
        margin: 10px;
    }
    .contactForm {
        width: 100%;
    }
    .contactForm .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .contact .contactForm .row .col50 {
        width: 100%;
    }
    .sidebar ul li a {
        font-size: 1.5em;
    }
    .videohalf {
        max-width: 50%;
        object-fit: contain;
    }
    .work .content .workBx .textBx .box,
    .work .content .workBx .textBx .box .offset {
        width: auto;
        height: auto;
        margin: 10px;
        flex-direction: column;
        margin-top: 20px;
    }
    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 900px) {
    .work .content {
        flex-direction: column;
    }
    .work .content .workBx {
        justify-content: center;
        flex-direction: column;
        height: auto;
        padding-bottom: 40px;
    }
    .work .content .workBx .imgBx img,
    .work .content .workBx .imgBx video,
    .work .content .workBx .textBx {
        max-width: 100%;
        width: 100%;
        object-fit: contain;
    }
    .work .content .workBx .textBx p,
    .work .content .workBx .textBx .sub2 {
        position: relative;
        display: flex;
        margin: 0px 20px;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        justify-content: space-around;
        color: #333;
        font-size: 1.2em;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    .work .content .workBx .textBx .sub {
        position: relative;
        display: flex;
        margin: 0px 20px;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        justify-content: space-around;
        color: #333;
        font-size: 1.2em;
        font-weight: 300;
        letter-spacing: 0.2px;
    }
    .reverse {
        flex-direction: column-reverse!important;
    }
    /* Home */
    .language {
        text-align: end;
        font-weight: 400;
        margin-left: 5px;
    }
    .contentBx {
        height: auto!important;
    }
    .banner {
        width: auto!important;
        height: auto!important;
        box-sizing: border-box;
        background-color: #fff;
    }
    .flex {
        display: flex;
        height: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    .flex h2 {
        font-size: 1.5em!important;
        font-weight: 600;
    }
    .flex span {
        font-size: 1em!important;
        font-weight: 600;
    }
    .flex p {
        font-size: 0.9em!important;
    }
    .flex .btn {
        margin: 5px;
    }
    .sci {
        bottom: 0;
        padding-top: 40px;
    }
    .sci li {
        margin-right: 20px;
    }
    .banner .contentBx,
    .sidebar {
        flex-direction: column;
    }
    .banner h5,
    .language {
        margin-top: -20px;
    }
}

@media (max-width: 1400px) {
    .services .content .serviceBx,
    .work .content .workBx {
        max-width: 100%;
        width: 100%;
        margin: 10px 0;
    }
    .work .content .workBx .textBx {
        height: auto;
        width: auto;
    }
    .work .content .workBx .textBx .box,
    .work .content .workBx .textBx .box .offset {
        width: auto;
        height: auto;
        margin: 10px;
        flex-direction: column;
        margin-top: 10px;
    }
}